doctype html
html(lang="ru-RU")
	head
		include template/head.pug
	body
		.swiper-container.swiper-container-mousewheel
			.swiper-wrapper
				.swiper-slide
					.humburgerPopupMenu
					header.header
						.header__logoWrap
							.header__logo
								p.header__logoText WE BIKE
						nav.horizontalNav.header__horizontalNav
							ul.horizontalNav__list
								mixin horizontalListItemMix(link, nameLink)
									li.horizontalNav__listItem
										a(class="horizontalNav__itemLink" href=(`${link}`))= nameLink
								+horizontalListItemMix('#', 'bike')
								+horizontalListItemMix('#', 'outdoor')
								+horizontalListItemMix('#', 'streewear')
								+horizontalListItemMix('#', 'running')
								+horizontalListItemMix('#', 'ski')
						ul.header__myAccountWrap
							li.header__myAccountWrap
								a(class="header__myAccountText" href="#") My account
						- var x = 9;
						.burgerMenuWrap.header__burgerMenuWrap
							ul.burgerMenuWrap__burgerMenu
								- for (var i=1; i<=x; i++) {
									.burgerMenuWrap__item
								- }
					section.mainContent
						.bicycleSwipeSlider.mainContent__slider
							.swiper-container.swiper-container-paralax
								.swiper-wrapper
									mixin swiperParalax(img, swiperParalaxTitle, swiperParalaxSubtitle, swiperParalaxText)
										div(class=`swiper-slide swiper-wrapper_bg swiper-wrapper_bg_${img}`)
											.title(data-swiper-parallax="-400")= swiperParalaxTitle
											.subtitle(data-swiper-parallax="-300")= swiperParalaxSubtitle
											.text(data-swiper-parallax="-200")
												p= swiperParalaxText
									+swiperParalax('greenBikeInverse', 'Cannondale', 'Mountain Biking is an active recreation and adventure.', '')
									+swiperParalax('redBikeInverse', 'Colnago', 'Designed and built by hand in Italy.', '')
									+swiperParalax('whiteBikeInverse', 'Pinarello', 'The Pinarello Bicycle is a symbiosis of stylish modern design.', '')
						section.informationWrap.mainContent__informationWrap
							article.informationWrap__titleNameProjectWrap
								h1.informationWrap__nameProjectTitle Wood Bikes
							article.informationWrap__makeByWrap
								p.informationWrap__makeByText Make by Kerthin
							article.informationWrap__blockNumberWrap
								h1.informationWrap__blockNumberTitle 05
					footer.footer
						.footer__circleSocialWrap
						nav.horizontalNavFooter.footer__horizontalNavFooter
							ul.horizontalNavFooter__list
								mixin horizontalFooterListItemMix(link, nameLink)
									li.horizontalNavFooter__listItem
										a(class="horizontalNavFooter__itemLink" href=(`${link}`))= nameLink
								+horizontalFooterListItemMix('#', 'Facebook')
								+horizontalFooterListItemMix('#', 'Instagram')
								+horizontalFooterListItemMix('#', 'Twitter')
						.mousewheelAnimation.footer__mousewheelAnimation
							.mousewheelAnimation__mouse
								span.mousewheelAnimation__point
							.mousewheelAnimation__textWrap
								p.mousewheelAnimation__text Scroll down
				.swiper-slide
					section.contenWrap
						section.informationBox.contenWrap__informationBox
							article.informationBox__textWrap
								p.informationBox__text Bike.
							article.informationBox__titleWrap
								h1.informationBox__title Design Bike
							article.informationBox__blockNumberWrap
								h1.informationBox__blockNumberTitle 01
					section.contenWrap
		include template/scripts.pug