.swiper-slide
	section.contenWrap
		section.informationBox.contenWrap__informationBox
			article.informationBox__textWrap
				p.informationBox__text Bike.
			article.informationBox__titleWrap
				h1.informationBox__title Design Bike
			article.informationBox__blockNumberWrap
				h1.informationBox__blockNumberTitle 01
		.bicycleSwipeSlider.contenWrap__slider
			.swiper-container.swiper-container-paralax
				.swiper-wrapper
					mixin swiperParalax(img, swiperParalaxTitle, swiperParalaxSubtitle, swiperParalaxText)
						div(class=`swiper-slide swiper-wrapper_bg swiper-wrapper_bg_${img}`)
							.title(data-swiper-parallax="-400")= swiperParalaxTitle
							.subtitle(data-swiper-parallax="-300")= swiperParalaxSubtitle
							.text(data-swiper-parallax="-200")
								p= swiperParalaxText
					+swiperParalax('s1', 'Cannondale', 'Mountain Biking is an active recreation and adventure.', '')
					+swiperParalax('s2', 'Colnago', 'Designed and built by hand in Italy.', '')
					+swiperParalax('s3', 'Pinarello', 'The Pinarello Bicycle is a symbiosis of stylish modern design.', '')
					+swiperParalax('s4', 'Stels', 'Bicycles for those who are paving their route.', '')
	section.contenWrap
		.humburgerPopupMenuSecondSlide
		header.contenWrap__header
			- var x = 9;
			.burgerMenuWrap.contenWrap__burgerMenuWrap
				ul#js-burgerDotMenuSecondSlide.burgerMenuWrap__burgerMenu
					- for (var i=1; i<=x; i++) {
						.burgerMenuWrap__item
					- }
		article.contenWrap__topTextSliderWrap
			p.contenWrap__topTextSlider Graphic design will save the world
		.bicycleSwipeSlider.contenWrap__slider
			.swiper-container.swiper-container-paralax
				.swiper-wrapper
					mixin swiperParalax(img, swiperParalaxTitle, swiperParalaxSubtitle, swiperParalaxText)
						div(class=`swiper-slide swiper-wrapper_bg swiper-wrapper_bg_${img}`)
							.title(data-swiper-parallax="-400")= swiperParalaxTitle
							.subtitle(data-swiper-parallax="-300")= swiperParalaxSubtitle
							.text(data-swiper-parallax="-200")
								p= swiperParalaxText
					+swiperParalax('s2', 'Colnago', 'Designed and built by hand in Italy.', '')
					+swiperParalax('s3', 'Pinarello', 'The Pinarello Bicycle is a symbiosis of stylish modern design.', '')
					+swiperParalax('s4', 'Stels', 'Bicycles for those who are paving their route.', '')
					+swiperParalax('s1', 'Cannondale', 'Mountain Biking is an active recreation and adventure.', '')
		article.contenWrap__bottomTextSliderWrap
			p.contenWrap__bottomTextSlider Graphic design will save the world
		footer.contenWrap__footer
			nav.horizontalNavFooter.contenWrap__horizontalNavFooter
				ul.horizontalNavFooter__list
					mixin horizontalFooterListItemMix(link, nameLink)
						li.horizontalNavFooter__listItem
							a(class="horizontalNavFooter__itemLink" href=(`${link}`))= nameLink
					+horizontalFooterListItemMix('#', 'Facebook')
					+horizontalFooterListItemMix('#', 'Instagram')
					+horizontalFooterListItemMix('#', 'Twitter')